.art-text{
    color: #fff;
    text-align: start;
    display: block;
    font-size: -webkit-xxx-large;
    font-weight: 700;
}

.primary-theme-color{
    color: #010013
}

.secondary-them-color{
    color: #5da4fa
}

.art-subtitle{
    text-align: start;
    display: block;
    color: #fff
}

.text-gradient{
    background: linear-gradient(to right, #5da4fa, #529afd, #4c8fff, #4c83ff, #5276fe, #5c72fd, #656efc, #6e6afa, #7670fa, #7e75fb, #867bfb, #8d81fb);;
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.art-checkbox-label-signup{
    width: fit-content;
    margin-top: 10px!important;
    margin-bottom: 1em!important;
    margin-right: 5em!important;
    margin-left: 0!important;
    display: block;
}

.MuiButton-contained.Mui-disabled {
    color: rgba(0, 0, 0, 0.26)!important;
    box-shadow: none!important;
    background: rgba(0, 0, 0, 0.12)!important;
}