/* Custom styling of text field to have even rounder edges */
.MuiOutlinedInput-root {
    border-radius: 12px!important;
  }
  /* Custom styling of text field to hide label on focus */
  .MuiInputLabel-outlined.MuiInputLabel-shrink{
    display: none!important;
  }

  .MuiOutlinedInput-root legend {
    display: none!important;
  }

  .MuiOutlinedInput-root fieldset{
    top: 0!important;
  }