body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom styling of text field to have even rounder edges */
.MuiOutlinedInput-root {
  border-radius: 12px!important;
}
/* Custom styling of text field to hide label on focus */
.MuiInputLabel-outlined.MuiInputLabel-shrink{
  display: none!important;
}

.PrivateNotchedOutline-legendLabelled-17 > span {
  display: none!important;
}

